<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Frank - Food Ranker using Yelp API</title>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/signup.js"></script>
        <script type="text/javascript" src="../static/js/search-yelp.js"></script>

        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        <link href="../static/css/signup.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                      <li role="presentation"><a href="main">Home</a></li>
                      <li role="presentation"><a href="/showTopEight">My Top Eight</a></li>
                      <li role="presentation"><a href="#">Sign In</a></li>
                      <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">Python Flask App</h3>
            </div>

            <div class="body">
                {% block body %}{% endblock %}
            </div>

            <footer class="footer">
                <p>&copy; Ammy 2015</p>
            </footer>

        </div>
    </body>
</html>